service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
    	function isVerified() {
      	return request.auth.token.verified;
      }
      function isAdmin() {
      	return request.auth.token.admin;
      }
      allow read: if isVerified();
      allow write: if isAdmin();
    }
  }
}
